body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar {
    background-color: #2B2E37;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    color: white !important;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}


.form-inline {
    margin-bottom: 20px;
}


.mason {
    column-count: auto;
    column-width: 150px;
    column-gap: 1em;
}

.mason-item {
    display: inline-block;
    margin: 0 0 0.8em;
    width: 100%;
    padding-top: 0;
    padding-bottom: 3px;
    box-shadow: 0px 3px 10px -5px gray;
    /*box-shadow: 0 4px 2px -2px gray;*/
    border: 1px solid #7D8287;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    overflow: hidden;
}

.img-profile {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-left: 3px;
    cursor: pointer;
}
.description {
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bold;
    text-transform: capitalize;
}
.hr-pinne {
    margin: 3px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #666, #ccc);
}